
<ul class="nav nav-pills justify-content-evenly mt-4 ">
    <li class="nav-item">
      <a class="nav-link " routerLink="biryani" routerLinkActive="active">Biryani's</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="desserts" routerLinkActive="active">Desserts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="cooldrink" routerLinkActive="active">Cooldrink</a>
    </li>
    
  </ul>


  <div class="container">
    <router-outlet></router-outlet>
  </div>



