<div class="head card text-center " >
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBusXD14iNFjivcn9bQZe9fP9Mwi7NlFEsWg&usqp=CAU" style="width: 70px;" alt="">
          </li>
        
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#" >
              <form>
                  <label for="se"></label>
                  <input type="text" name="search"  id="se" placeholder="Search for items " >
              </form>
          </a>
        </li>
      </ul>
    </div>
    <div class="card-body bg-success">
      <h5 class="card-title display-4" >Venkat's Restaurant</h5>
      <p class="card-text" style="font-size: 30px;" >All recipes are avaliable</p>
      
    </div>
  </div>
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
     <div class=" a1 carousel-item active text-center" >
        <div class="card bg-dark text-white w-50 mx-auto">
            <img src="https://i.pinimg.com/originals/8b/f4/ba/8bf4ba7a9c76291c67dabd61064c466b.jpg" class="card-img" style="height: 250px;" alt="...">
            <div class="card-img-overlay">
              <h5 class="card-title bg-dark text-white">Home Delivery Avaliable</h5>
              <p class="card-text bg-info ">Visit our Website Follow us on INsta,facebook</p>
              
            </div>
          </div>
      </div>
      <div class="carousel-item ">
        <div class="card mx-auto" style="width: 18rem;">
            <img src="https://images2.alphacoders.com/862/862730.jpg" class="card-img-top" alt="...">
            <p class="card-text text-center bg-secondary text-warning">Non A/c</p>
            
          </div>
      </div>
      <div class="carousel-item ">
        <div class="card mb-3 mx-auto" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBusXD14iNFjivcn9bQZe9fP9Mwi7NlFEsWg&usqp=CAU" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title " style="margin-left: 130px;">Family hall with A/C</h5>
                  <p class="card-text"style="margin-left: 130px;">Sitting arrangements</p>
                </div>
              </div>
            </div>
          </div>
      </div>
      
    <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next " type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>